<nav class="navbar navbar-expand-lg navbar-dark bg-black ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_acceuil') }}">Acceuil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_articles') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_categories') }}">Categorie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('admin') }}">Panel Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_articles_creer') }}">Creation d'article</a>
                </li>
            </ul>
        </div>
    </div>
</nav>